html {
    
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Julius Sans One';
    display: block;
    width: 300px;
    height: 40px;
    font-size: 28px;
}

h {
    font-family: 'Julius Sans One';
    font-size: 70px;
}

#toplogo {
    float: left;
    display: block;
    margin-left: 20px;
    width: 4%;
}

#backgroundTop {
    background-image: url(Background%20v2.jpeg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 89%;
    position: absolute;
    left: 0px;
    top: 110px;
    z-index: -1;
    object-fit: cover;
}

ul li {
    float: right;
    font-family: 'Julius Sans One';
    margin-top: 30px;
    list-style: none;
}

#secondPart {
    display: block;
    position: absolute;
    top: 1000px;
    text-align: center;
    width: 400px;
    left: 50%;
    margin-left: -200px;
}

#title {
    font-family: 'Julius Sans One';
    font-size: 60px;
}


#fadein {
    animation: fadeIn ease 5s;
    font-family: sans-serif;
    color: white;
    font-family: 'Julius Sans One';
    font-size: 60px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
